@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700');

.listContainer {
  text-align: center;
}

.mensajePrincipal {
  margin: auto;
  font-size: medium;
  font-family: 'Amatic SC', sans-serif;

}

.itemListWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.itemCard {
  width: calc(20% - 20px); /* Ajusta el ancho según tus necesidades */
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  /* Agrega más estilos según tus necesidades */
}

/* Ajustes para cuando hay tres o menos productos */
.itemListWrapper .itemCard:nth-child(3n+1) {
  margin-left: 0;
}

.itemListWrapper .itemCard:nth-child(3n) {
  margin-right: 0;
}

.listContainer {
  text-align: center;
}

.mensajePrincipal {
  margin: 20px;
  font-size: xx-large;
}

.itemListWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.itemCard {
  width: calc(20% - 20px); /* Ajusta el ancho según tus necesidades */
  margin: 30px; /* Añade márgenes para la separación entre elementos */
  padding: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  /* Agrega más estilos según tus necesidades */
}